nav {
    display: flex;
    flex-direction: row;
    gap: 5px
}

nav a {
    transition: color 0.4s ease-in-out;
    color: darkgoldenrod;
}

nav a:hover {
    color: #D54600
}

body {
    background-color: black;
    color: darkgoldenrod;
}


h3 {
    color: darkgoldenrod;
}

p {
    font-size: 16px;
}

body {
    background-color: black;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}
div {
    background-image: radial-gradient(black, darkgoldenrod);
    box-shadow: 5px 5px 10px black;
}